
@{
    ViewBag.Title = "Suggest";
}

<h2>鍋爐蒸氣壓限制</h2>
<p>時間</p>
<div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <td>參數組別</td>
                <td>上限量</td>
                <td>下限量</td>
                <td>排氣含氧量</td>
            </tr>
        </thead>
    </table>
</div>
